#wrapper {
    border: 1px;
    width: 300px;
    height: 20px;
    margin-bottom: 10px;
}

#switch {
    display: inline-block;
    width: 20px;
    height: 20px;
}

#div1 {
    display: inline-block;
    background-color: black;
    width: 20px;
    height: 20px;
}

#div2 {
    display: inline-block;
    background-color: green;
    width: 20px;
    height: 20px;
}

#div3 {
    display: inline-block;
    background-color: red;
    width: 20px;
    height: 20px;
}