<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StartPage</title>
    <link rel="stylesheet" href="/styles/startIndex.css" media="screen">
</head>
<body>
<div id="wrapper">
    <div id="div1">
        <form th:method="GET" th:action="@{/builders}">
            <input type="submit" value="Get builders"/>
        </form>
    </div>
    <div id="div2">
        <div id="div_text" th:text="'Count of builders: ' + ${countOfBuilders}"></div>
    </div>
</div>
</body>
</html>