<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Builder</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/builders/{id}/update(id=${builders.getId()})}" th:object="${builders}">
    <br>
    <label for="id"></label>
    <input type="hidden" th:field="*{id}" id="id"/>
    <br>
    <label for="idOfEmployee">
        <p th:text="${builders.getIdOfEmployee()}">VALUE</p>
    </label>
    <input type="hidden" th:field="*{idOfEmployee}" id="idOfEmployee"/>
    <br/>
    <label for="surname">Enter surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
    <br/>
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="lastName">Enter last name</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</div>
    <br/>
    <label for="email">Enter email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <label for="salary">Enter salary</label>
    <input type="text" th:field="*{salary}" id="salary"/>
    <div style="color: red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Salary error</div>
    <br>
    <label for="states">Select state</label>
    <select th:object="${builders}" th:field="*{state}" id="states">
        <option th:each="state : ${states}" th:value="${state.toString()}" th:text="${state.toString()}">VALUE</option>
    </select>
    <br>

    <input type="submit" value="Update!"/>
</form>
</body>
</html>